In [1]:
# 1. Create a list called years_list, starting with the year of your birth, 
# and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. 
# the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

# Ans
years_list = [1993,1994,1995,1996,1997,1998]
years_list

[1993, 1994, 1995, 1996, 1997, 1998]

In [2]:
# 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

#Ans
years_list[3]
# consider year 1993 as 0 age as said

1996

In [3]:
# 3.In the years list, which year were you the oldest?

# Ans
years_list[-1]

1998

In [4]:
# 4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

# Ans

things="mozzarella", "cinderella", "salmonella"
things=list(things)
things

['mozzarella', 'cinderella', 'salmonella']

In [5]:
# 5. Capitalize the element in things that refers to a person and then print the list.
# Did it change the element in the list?

# Ans

for i in things:
    print(i.capitalize())

Mozzarella
Cinderella
Salmonella

In [6]:
# 6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

# Ans
surprise_list = ["Groucho", "Chico", "Harpo"]
surprise_list

['Groucho', 'Chico', 'Harpo']

In [7]:
# 7.Lowercase the last element of the surprise list, reverse it, and then capitalize it.

# Ans

last_element=surprise_list[-1]
last_element1=last_element[::-1]
print("Lower Case:",last_element.lower())
print("Reverse :",last_element[::-1])
print("Capitalize Case:",last_element.capitalize())
print("Capitalize Case:",last_element1.capitalize())

Lower Case: harpo
Reverse : opraH
Capitalize Case: Harpo
Capitalize Case: Oprah

In [8]:
# 8. Make an English-to-French dictionary called e2f and print it.
# Here are your starter words: dog is chien, cat is chat, and walrus is morse.

# Ans
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [9]:
# 9. Write the French word for walrus in your three-word dictionary e2f.

# Ans
e2f['walrus']

'morse'

In [10]:
# 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

# Ans
f2e=dict((value,key) for key,value in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [11]:
# 11. Print the English version of the French word chien using f2e.

# Ans
f2e['chien']

'dog'

In [12]:
# 12. Make and print a set of English words from the keys in e2f.

# Ans
set(e2f.keys())

{'cat', 'dog', 'walrus'}

In [13]:
# 13. Make a multilevel dictionary called life. 
# Use these strings for the topmost keys: 'animals', 'plants', and 'other'. 
# Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. 
# Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. 
# Make all the other keys refer to empty dictionaries.
life ={'animals':{'cats':['Henri', 'Grumpy', 'Lucy'],
                  'octopi':{}, 
                  'emus':{}
                 },
       'plants' :{},
       'other' :{}
      }
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

In [14]:
# 14. Print the top-level keys of life.

# Ans
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [15]:
# 15. Print the keys for life['animals'].

# Ans
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

In [16]:
# 16. Print the values for life['animals']['cats']

#Ans
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']